:root {
  --primary-color: #F6F7F0;
  --secondary-color: #252716;
  --text-opacity-color: #1B1B1B;
}

.homepage-container {
  background-color: var(--primary-color);
}

.navbar-logo {
  width: 160px;
  margin: 0 0 0 20px;
}

header {
  margin: 60px 30px;
}

.profile-picture {
  width: 350px;
  border: 1px solid var(--secondary-color);
  border-radius: 150px;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.header-paragraph {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 30px 60px;
}

.header-links {
  text-decoration: underline;
  color: var(--text-opacity-color)
}

.header-buttons {
display: flex;
justify-content: center;
}

.button-primary {
  padding: 15px 30px;
  background: var(--secondary-color);
  color: white;
  text-decoration: none;
  border-radius: 8px;
  text-align: center;
  margin: 30px 30px 60px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.button-primary:hover {
  opacity: 0.9;
}

main {
  margin: 0 60px;
}

.skills-list {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.skill-list {
  padding: 30px 60px;
  font-size: 24px;;
}

.work-inquiry {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--primary-color);
  padding: 30px;
  margin: 60px;
  border-radius: 16px;
}

.work-inquiry-text {
  margin-right: 180px;
}

.work-inquiry-button {
  margin-top: 23px;
}

footer {
  margin: 60px 0 30px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.contact-icons {
  display: flex;
  justify-content: center;
}

.contact-icon {
  margin: 30px 30px;
  color: var(--secondary-color);
}

.contact-icon:hover {
  cursor: pointer;
  opacity: 0.9;
}

.footer-paragraph {
  margin-top: 30px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  opacity: 0.9;
}

.footer-paragraph a {
  color: var(--text-opacity-color);
}


















/* .poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}


// <uniquifier>: Use a unique and descriptive class name

.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}