:root {
  --primary-color: #F6F7F0;
  --secondary-color: #252716;
  --text-opacity-color: #242422;

  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
}

.homepage-container {
  background-color: var(--primary-color);
}

.navbar-logo {
  width: 160px;
  margin: 0 0 0 20px;
}

header {
  margin: 60px 30px;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 64px;
}

h2 {
  font-family: var(--default-font);
  color: var(--text-opacity-color);
  font-weight: 600;
  font-size: 36px;
}

.h2-start {
  text-align: start;
}

.header-paragraph {
  font-family: var(--default-font);
  font-weight: 400;
  opacity: 0.9;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
  padding: 30px 60px 0 60px;
}

.header-links {
  text-decoration: underline;
  color: var(--text-opacity-color)
}

.header-buttons {
 display: flex;
 justify-content: center;
}

.button-primary {
  padding: 15px 30px;
  background: var(--secondary-color);
  color: white;
  text-decoration: none;
  border-radius: 8px;
  text-align: center;
  margin: 30px 30px 60px 30px;
  font-family: var(--default-font);
  font-weight: 600;
}

.button-primary:hover {
  opacity: 0.9;
}

.responsive-profile-picture {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 150px;
  border: 1px solid var(--secondary-color);
  border-radius: 15px;
}

.profile-picture {
  width: 350px;
  border: 1px solid var(--secondary-color);
  border-radius: 150px;
}

main {
  margin: 0 60px;
}

.skills-list {
  display: flex;
  justify-content: center;
  font-family: var(--default-font);
  color: var(--text-opacity-color);
  font-weight: 400;
  line-height: 2;
}

.skill-list {
  padding: 30px 60px;
  font-size: 24px;;
}

.work-inquiry {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--primary-color);
  padding: 30px;
  margin: 60px;
  border-radius: 16px;
}

.work-inquiry-text {
  margin-right: 180px;
}

.work-inquiry-text p {
  font-family: var(--default-font);
  font-weight: 400;
}

.work-inquiry-button {
  margin-top: 23px;
}

footer {
  margin: 60px 0 30px 0;
  font-family: var(--default-font);
  font-weight: 500;
}

.contact-icons {
  display: flex;
  justify-content: center;
}

.contact-icon {
  margin: 30px 30px;
  color: var(--secondary-color);
}

.contact-icon:hover {
  cursor: pointer;
  opacity: 0.9;
}

.footer-paragraph {
  margin-top: 30px;
  text-align: center;
  font-family: var(--default-font);
  font-weight: 400;
  opacity: 0.9;
}

.footer-paragraph a {
  color: var(--text-opacity-color);
}

@media (max-width: 992px) {
  header {
    margin: 60px 0;
  }
  
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 20px;
  }

  .header-paragraph {
    font-size: 14px;
    padding: 10px 30px;
  }

  .button-primary {
    padding: 15px 25px;
    margin: 10px 10px 30px 10px;
  }

  main {
    margin: 0 20px;
  }
  
  .skills-list {
    display: flex;
    justify-content: center;
    
  }
  
  .skill-list {
    padding: 20px 0;
    font-size: 12px;
  }

  .work-inquiry {
    display: block;
    padding: 30px;
    margin: 30px;
    border-radius: 16px;
  }

  .work-inquiry h2 {
    text-align: center;
  }

  .work-inquiry-button .button-primary {
    display: block;
    margin: 0 40px;
  }
  
  .work-inquiry-text {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .contact-icon {
    margin: 0 15px 20px 15px;
  }

  .footer-paragraph {
    font-size: 10px;
    padding: 0 20px;
  }
}


















/* .poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#1B1B1B;
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}


// <uniquifier>: Use a unique and descriptive class name

.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}