:root {
  --primary-color: #F6F7F0;
  --secondary-color: #252716;
  --text-opacity-color: #242422;

  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;

  --default-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

body {
  font-family: var(--default-font);
}

.page-container {
  margin: 60px 40px;
}

.homepage-container {
  background-color: var(--primary-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar-logo {
  width: 160px;
  margin: 0 0 0 20px;
}


header {
  margin: 60px 30px;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 64px;
}

h2 {
  color: var(--text-opacity-color);
  font-weight: 600;
  font-size: 36px;
}

p {
  font-weight: 400;
  opacity: 0.9;
  line-height: 30px;
  font-size: 18px;
}

.heading-start {
  text-align: start;
}

.header-paragraph {
  padding: 30px 60px 0 60px;
  text-align: center;
}

.header-links {
  text-decoration: underline;
  color: var(--text-opacity-color)
}

.header-links:hover {
  opacity: 0.9;
}

.header-buttons-container {
 display: flex;
 justify-content: center;
}

.header-button{
  margin: 30px 30px 60px 30px;
}

.button-primary {
  padding: 15px 30px;
  background: var(--secondary-color);
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
  text-align: center;
}

.button-primary:hover {
  opacity: 0.9;
}

.responsive-profile-picture {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 150px;
  border: 1px solid var(--secondary-color);
  border-radius: 15px;
}

.profile-picture {
  width: 350px;
  border: 1px solid var(--secondary-color);
  border-radius: 150px;
}

main {
  margin: 0 60px;
}

main h2 {
  color: black;
  text-align: start;
}

.skills-list-container {
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: --var(--default-box-shadow);
  padding-bottom: 35px;
}

.skills-list-container h2 {
  color: white;
  padding: 20px 0 15px 60px;
}

.skill-list  ul {
  padding: 10px;
}

.skills-list {
  display: flex;
  justify-content: space-evenly;
}

.skill-list li {
  list-style: none;
  color: white;
  font-weight: 800;
  line-height: 2;
  font-size: 20px;
}

.work-inquiry {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--primary-color);
  padding: 30px;
  margin: 60px;
  border-radius: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.work-inquiry-text {
  margin-right: 180px;
}

.work-inquiry-button {
  margin-top: 23px;
}

footer {
  margin: 150px 0 30px 0;
  font-weight: 500;
}

footer .contact-icons {
  display: flex;
  justify-content: center;
}

footer .contact-icons a, .contact-container a .contact-icon {
  margin: 0 30px 0 30px;
  padding: 12px 20px;
  border-radius: 50%;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-size: 30px;
  transition: all 100ms ease-in-out;
}

footer .contact-icons a:hover {
  cursor: pointer;
  opacity: 0.9;
  color: white;
  background-color: var(--secondary-color);
}

footer p {
  margin-top: 30px;
  text-align: center;
  opacity: 0.9;
}

.footer-paragraph a {
  color: var(--text-opacity-color);
}

.footer-paragraph a:hover {
  opacity: 0.9;
}

.content {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--primary-color);
  margin-bottom: 100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.content-picture {
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 8px;
  object-fit: cover;
}

.content-text-container {
  padding: 20px 60px 60px 40px;
}

.content-paragraph {
  margin-top: 15 px;
}

.content p a {
  color: var(--secondary-color);
}

.content p a:hover {
  opacity: 0.9;
}

.project-container {
  background-color: var(--primary-color);
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.project-img-container {
  display: block;
  margin: 0 auto;
}

.project-img-custom {
  width: 250px;
  height: 200px;
  border-radius: 10px;
}

body.contact-page {
  background-color: var(--primary-color);
  box-shadow: var(--default-box-shadow);
}

.contact-container {
  display: block;
  max-width: 100%;
  margin: 60px auto;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 30px 30px 100px 30px;
}

.contact-container a.social-links {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 28px;
  font-weight: 900;
}

.contact-container a.social-links:hover {
  opacity: 0.9;
}

.contact-container a span {
 padding-left: 11px;
}




@media (max-width: 768px) {
  header {
    margin: 60px 0;
  }
  
  h1 {
    font-size: 30px;
    text-align: center;
  }

  h2 {
    font-size: 20px;
    text-align: center;
  }

  h3 {
    font-size: 14px;
    text-align: center;
  }

  .header-paragraph {
    font-size: 14px;
    padding: 10px 30px;
    text-align: center;
  }

  .header-buttons {
    margin: 10px 10px 30px 10px;
  }

  .button-primary {
    padding: 15px 25px;
    font-size: 14px;
  }

  main {
    margin: 0 20px;
  }
  
  .skills-list {
    display: flex;
    justify-content: center;
  }

  .skill-list li {
    font-size: 10px;
  }

  .work-inquiry {
    display: block;
    padding: 30px;
    margin: 30px;
    border-radius: 16px;
  }

  .work-inquiry h2 {
    text-align: center;
  }

  .work-inquiry-button .button-primary {
    display: block;
    margin: 0 40px;
  }
  
  .work-inquiry-text {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  footer .contact-icons a {
    font-size: 12px;
    padding: 5px 10px;
    margin: 0 5px;
  }

  .footer-paragraph {
    font-size: 10px;
    padding: 0 20px;
  }

  .content-text-container p {
    font-size: 12px;
    line-height: 2;
  }

  .content-text-container {
    padding: 20px 20px 60px 20px;
    text-align: justify;
  }

  .contact-container a {
    font-size: 12px;
  }

  .contact-container a.social-links {
    font-size: 18px;
    font-weight: 800;
  }
}





















/* .poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#1B1B1B;
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}


// <uniquifier>: Use a unique and descriptive class name

.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}